body {
    background-color: rgb(43, 43, 43);
}
hr {
    border-style: none;
    border-top-style: groove;
    border-color: whitesmoke;
    border-width: 5px;
    width: 85%;
}

h1 {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

em {
    color: whitesmoke;
}
th {
    color: whitesmoke;
}
td {
    color: whitesmoke;
}
a {
    color: whitesmoke;
}